.header {
  display: flex;
  align-items: center;
  justify-content: center;

  &-title {
    line-height: 3.6rem;
    margin: 1rem;
    font-size: 3.6rem;
    background: -webkit-linear-gradient(90deg, #00bce2 1%, #0d0d91 100%);
    background: linear-gradient(90deg, #00bce2 1%, #0d0d91 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    &:hover {
      opacity: 0.9;
    }
  }
}
