footer {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  letter-spacing: 0.05rem;
  font-size: 0.95rem;

  a {
    &:hover {
      svg {
        g {
          fill: #14879e;
          transition: all ease 0.4s;
        }
      }
    }
  }
}
