body {
  color: whitesmoke;
  background-color: #0d1117;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 100rem;
  margin: auto;
}

.movies-container {
  margin: 2rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
